.friendIcon {
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.friendIcon img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 0 7px;
}

.name {
    text-align: center;
}
